* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Header and Footer  */
header {
  padding: 20px;
  background-image: linear-gradient(#03747e,#58066d);
  padding-bottom: 10px;
}

footer {
  padding: 20px;
  background-image: linear-gradient(#58066d, #03747e);
}

header p {
  color: white;
  text-align: center;
  margin: 0;
  font-style: italic;
}

h1,
footer p {
  color: white;
  text-align: center;
  margin-bottom: 0;
  
}

/* NavBar */
.nav.navbar {
  justify-content: center;
  padding-bottom: 10px;
  background-color: #58066d;
  color: #58066d;
  text-align: center;
}

.navbar a,
.navbar a:visited,
footer a,
footer a:visited {
  color: white;
  text-decoration: none;
  padding: 20px;
}

.navbar a:hover,
.about a:hover,
.contact-form a:hover,
footer p a:hover {
  font-weight: bold;
  cursor: pointer;
  color: #4ac6d2;
}


/* Body */
section {
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

img {
  margin-top: 10px;
  height: 275px;
  border-radius: 10px;
  border: solid;
  border-color: #03747e;
  border-width: 5px;
}

span {
  font-weight: bold;
}

.collage {
  display: flex;
  margin: auto;
  max-width: 80%;
  height: auto;
}

.caption {
  font-size: small;
  text-align: center;
}

/* About Page */
.about ul {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.about {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.about ul ul li a {
  text-decoration: none;
  color: black;
}

h2 {
  text-decoration: underline;
}


/* Work Page */
.github {
  color: black;
  text-decoration: none;
}

.github:hover {
  color: #58066d;
}

.linkbar {
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.linkbar .btn {
  background-color: #58066d;
  margin: 10px;
  color: white;
  text-decoration: none;
}
/* DOES NOT WORK */
.linkbar.a:hover {
  color: #03747e;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work p {
  margin-bottom: 0;
}

/* Projects */
.project,
.row {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  top: 250px;
  left: 10%;
  background-color: #03747e;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px;
}

.bottom-left a,
.hw-cap a {
  color: white;
  text-decoration: none;
}

.bottom-left a:hover,
.hw-cap a:hover  {
  color: #4ac6d2;
}

.bottom-left h3,
.hw-cap h3 {
  font-size: small;
}

.project p,
.homework p {
  color: #03747e;
  margin: auto;
  width: 80%;
  font-size: small;
  margin-bottom: 20px;
  margin-top: 5px;
}

.project img {
  width: 80%;
  height: 300px;
}

/* the image glows upon the mouse hovering over it */
.homework img:hover,
.project img:hover {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px #4ac6d2;
    -moz-box-shadow: 0px 0px 30px 0px #4ac6d2;
    box-shadow: 0px 0px 30px 0px #4ac6d2;
}

/* to indicate once the project is clicked on */
.homework img:active,
.project img:active {
    border-width: 8px;
}


/* Individual Work */
.homework img {
  width: 100%;
  height: 200px;
}

.hw-cap {
  position: absolute;
  top: 150px;
  background-color: #03747e;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px;
}

/* Contact Page */
.contact {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.contact-form ul li {
  list-style-type: none;
  text-align: left;
  color: black;
}

form input,
form textarea {
  margin-bottom: 10px;
}

form button {
  background-color: #03747e;
  color: white;
  margin: auto;
}

.contact .contact-form {
  justify-content: center;
  margin-top: 20px;
}

.contact-form img {
  width: auto;
  height: 50px;
  border: none;
  margin-top: 50px;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons p {
  margin-left: 30px;
  margin-right: 30px;
  background-color: #03747e;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  padding: 10px;
  font-size: xx-large;
}

.contact-form a {
  color: #03747e;
  text-decoration: none;
}

.contact p {
  margin-top: 20px;
}