/* for minimizing window */



/* For mobile/smaller screen devices */
@media only screen and (max-device-width: 750px) {
    .about {
       flex-direction: column;
    }
    .about ul,
    .linkbar {
       list-style-type: none;
       margin:0;
       padding: 0;
    }
    .about ul ul li {
        margin-left: 20px
    }
    .about ul ul ul li {
        margin-left: 40px
    }
    .collage {
        width: 100%;
    }
    h1, h2, h3, p, li, .caption, a {
        font-size: large;
    }
    .contact-form img {
        width: 80%;
        height: auto;
        margin-top: 20px;
    }
    .project img {
        width: 100%;
    }
    .bottom-left,
    .bottom-left a{
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        /* position: static; */
        left:0;
        top: 15px;
        width: 100%;
    }
}